/maze1.png
/maze2.png
/maze3.png
/maze4.png
/maze_1_cheby.gif
/maze_1_eucl.gif
/maze_1_maze.gif
/maze_2_cheby.gif
/maze_2_eucl.gif
/maze_2_maze.gif
/maze_3_cheby.gif
/maze_3_eucl.gif
/maze_3_maze.gif
/test.gif
/test.png
/__pycache__